* {
  transition: .3s;
}

body {
  background-color: #457b9d;
}

h1 {
  text-align: center;
}

.section-style {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(5, auto);
  grid-gap: 10px;
}

.button {
  margin: auto;
}